[Desktop Entry]
Name=pyappimage
GenericName=pyappimage
Comment=Python app generated using PyAppImage
Exec=pyappimage
Icon=pyappimage
Terminal=true
Type=Application
Categories=Development;
StartupWMClass=pyappimage
